@model IEnumerable<WebApplicationAulaMVCcomEntity.Models.Pessoa>

@{

}

@foreach (var pessoa in @Model)
{
    @*<a href="@Url.Action("PessoaId","Home")">
    </a>*@

    <strong>@pessoa.Nome</strong>
    <br />

    @foreach (var email in @pessoa.Emails)
    {
        @email.email
<br />
    }
}
