@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Uma aplicação para controle de Fluxo de Caixa Pessoal. Gerenciar as Receitas e Despesas de forma simples e intuitiva com o objetivo de auxiliar nas tomadas de decisão além de lembrar de cumprir com as obrigações. (Orçamento familiar)</p>
    <br />
    <p>Visite minha  página do <a href="https://www.linkedin.com/in/douglasvaguiar/" target="_blank">LinkedIn</a>.</p>
    @*<br />
    <a href="@Url.Action("LoginPage", "Usuario")" >Efetuar Login</a>*@
</div>
