@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Visite minha  página do <a href="https://www.linkedin.com/in/douglasvaguiar/" target="_blank">LinkedIn</a>.</p>
    <br />
    <a href="@Url.Action("LoginPage", "Usuario")" >Efetuar Login</a>
</div>
