@model GestaoFinanceira.Models.Tipo

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Tipo</h1>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inativo)
        </dd>
    </dl>
</div>
<div>
    <div class="navNovo">
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    </div>
    <div class="navNovo">
        <a asp-action="Index">Voltar</a>
    </div>
</div>
